body {
    background-image: url(background.jpeg);
    color: white;
    
   }
#DS-container{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}

img{

    width: calc(100% - 200px)
}